<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="content">
                <h1>DEAD END!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui possimus eveniet, maiores sapiente,
                    voluptates
                    ipsa
                    cum, eos omnis aspernatur nemo officia explicabo. Ducimus velit officia laboriosam ullam, maxime
                    rerum
                    nobis.
                </p>
            </div>

            <%- include('./partials/footer.ejs') %>

    </body>


</html>